<form action="/Gate/AddGate" method="post">
    <div class='container'>
        <div class='row'><h3>Tambah Gate</h3></div>
        <div class='row span9'>
            <div class='span3'>
                <div>Nama Gate</div>
                <div><input type='text' name='name'/></div>
            </div>
        </div>
        <div class='row span12'>
            <button class='btn btn-success offset1' type="submit">Simpan</button>
        </div>
    </div>
</form>