@using PSC.ReportingRepository
@model IList<PSC.ReportingRepository.Gate>
@{
    int i = 1;
}
<div class='container'>
    <div class='container-fluid'>
        <div class='row-fluid'>
            <div class='span9'>
                <table class="table table-striped" id="tblListPasien">
                    <thead><tr><th>#</th><th>Nama Gate</th></tr></thead>
                    <tbody>
                        @foreach (Gate p in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@p.Name</td>
                                <td>
                                    <div class='btn-group'>
                                        <a class='btn dropdown-toggle btn-mini' data-toggle='dropdown' href='#'>
                                            Action
                                            <span class='caret'></span>
                                        </a>
                                        <ul class='dropdown-menu' >
                                            <li>@Html.ActionLink("Ubah","UpdateGate",new { gateId = p.Id })</li>
                                            <li>@Html.ActionLink("Hapus", "DeleteGate", new { gateId = p.Id })</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <div class='span3'>
                <div>
                    <a href="/Gate/AddGate" class="btn btn-success">Tambah Gate</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="temp-contain"></div>