@model PSC.ReportingRepository.Maskapai
<form action="/Maskapai/UpdateMaskapai" method="post">
    <div class='container'>
        <div class='row'><h3>Ubah Maskapai</h3></div>
        <div class='row span9'>
            <div class='span3'>
                <div>Nama Maskapai</div>
                <div><input type='hidden' name='id' value='@Model.Id'/><input type='text' name='name' value='@Model.Name'/></div>
            </div>
            <div class='span3'>
                <div>Jenis Penerbangan</div>
                <div>
                    <select name='jenisid'>
                        <option value='0' selected>--NONE--</option>
                        <option value='1'>Domestik</option>
                        <option value='2'>Internasional</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='row span12'>
            <button class='btn btn-success offset1' type="submit">Simpan</button>
        </div>
    </div>
</form>