    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Keluar", "LogOff", "Account")</li>
    }
    else
    {
        
            <li class="dropdown">
            <a class="dropdown-toggle" href="" data-toggle="dropdown">
            <i class="icon-user icon-white" style="margin-right:3px;"></i>Masuk <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
                    {
                    <input id="user_username" style="margin-bottom: 15px;" type="text" name="UserName" size="30" required='required' placeholder="Email"/>
                    <input id="user_password" style="margin-bottom: 15px;" type="password" name="Password" size="30" required='required' placeholder="Password"/>
                    <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="RememberMe" value="1" />
                    <label class="string optional" for="user_remember_me"> Remember me</label>
                    <input class="btn btn-primary" style="clear: left; width: 94%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Masuk" />
                    }
                </div>
            </li>
    }